<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UConnect Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <style>
        body,
        h1,
        ul,
        li {
            margin: 0;
            padding: 0;
            font-family: 'Inter', sans-serif;
            overflow-x: hidden;
            list-style: none;
        }

        .dashboard {
            display: flex;
        }

        .sidebar {
            width: 250px;
            background-color: black;
            height: 100vh;
            color: white;
            display: flex;
            flex-direction: column;
        }

        .logo {
            padding: 20px;
            text-align: center;
        }

        .logo img {
            max-width: 100%;
            height: auto;
            width: 150px;
        }

        .menu,
        .user-account {
            padding: 20px;
        }

        .menu ul,
        .user-account ul {
            padding: 0;
        }

        .menu ul li a,
        .user-account ul li a {
            color: white;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 10px 0;
        }

        .menu ul li i,
        .user-account ul li i {
            width: 24px;
            height: 24px;
            font-size: 24px;
            margin-right: 10px;
        }

        /* Removed position absolute to keep user-account within the flow */
        .user-account {
            margin-top: auto;
            /* Pushes the account section to the bottom */
        }

        .content {
            flex-grow: 1;
            background-color: #ECF0F1;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: white;
        }

        .header h1 {
            margin-right: 20px;
        }

        .header input[type="search"] {
            flex-grow: 1;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: white;
            color: #265CFF;
        }

        .header input[type="search"]:focus {
            outline: none;
            border-color: #265CFF;
        }

        #addEvent-button {
            display: inline-flex;
            align-items: center;
            padding: 10px;
            margin: 10px 0;
            border: 1.5px solid #265CFF;
            border-radius: 5px;
            background-color: #265CFF;
            color: white;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
        }

        #addEvent-button i {
            margin-left: 5px;
        }

        #addEvent-button:hover {
            background-color: transparent;
            color: #265CFF;
            border: 1.5px solid #265CFF;
        }

        .table-container {
            margin: 0 15px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            font-size: 0.7rem;
            border-spacing: 0;
        }

        th,
        td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #265CFF;
            color: white;
            font-weight: 600;
            letter-spacing: 0.5px;
        }

        td {
            color: #333;
        }

        tbody tr:nth-child(odd) {
            background-color: #f8f8f8;
        }

        tbody tr:hover {
            background-color: #e3e3e3;
            cursor: pointer;
        }

        a {
            color: #265CFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }


        .action-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Center align buttons horizontally */
        }
        .action-buttons a{
            text-decoration: none;
        }

        .button-style {
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 5px;
            /* Add some spacing between buttons */
        }

        /* Specific styles for Edit button */
        #editButton {
            background-color: #37a914;
            color: white;
            border: 1px solid #37a914;
        }

        #editButton:hover {
            background-color: white;
            color: #37a914;
            border: 1px solid #37a914;
        }

        /* Specific styles for Delete button */
        #deleteButton {
            background-color: #FF4B2B;
            color: white;
            border: 1px solid #FF4B2B;
        }

        #deleteButton:hover {
            background-color: white;
            color: #FF4B2B;
            border: 1px solid #FF4B2B;
        }

        /* Specific styles for Participate button */
        #participateButton {
            background-color: goldenrod;
            color: white;
            border: 1px solid goldenrod;
        }

        #participateButton:hover {
            background-color: white;
            color: goldenrod;
            border: 1px solid goldenrod;
        }


        /* Responsive Design Adjustments */
        @media screen and (max-width: 768px) {
            .dashboard {
                flex-direction: column;
            }

            .sidebar {
                width: 100%;
                height: auto;
            }

            .content {
                padding: 20px;
            }

            table {
                width: 100%;
                table-layout: fixed;
            }

            th,
            td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 120px;
            }
        }
    </style>
</head>

<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="logo">
                <img src="/images/logo_original.png" alt="UConnect Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="/alumni-student/all-events"><i class="far fa-folder"></i>All Events</a></li>
                    <li><a href="/alumni-student/my-events"><i class="far fa-folder-open"></i>My Events</a></li>
                </ul>
            </nav>
            <div class="user-account">
                <ul>
                    <li><a href="/alumni-student/edit-account"><i class="fas fa-cog"></i>Edit Account</a></li>
                    <li><a href="#"><i class="fas fa-sign-out-alt"></i>Log Out</a></li>
                </ul>
            </div>
        </aside>
        <main class="content">
            <header class="header">
                <h1>All Events</h1>
                <input type="search" placeholder="Search Through All Events">
                <a href="/alumni-student/add-event" id="addEvent-button" class="button">
                    Add New Event <i class="fas fa-plus"></i>
                </a>
            </header>
            <section class="table-container">
                <section class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Location</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Organizer</th>
                                <th>Guests</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% events.forEach(event=> { %>
                                <tr>
                                    <td>
                                        <%= event.title %>
                                    </td>
                                    <td>
                                        <%= event.date.toISOString().split('T')[0] %>
                                    </td>
                                    <td>
                                        <%= event.startTime %>
                                    </td>
                                    <td>
                                        <%= event.endTime %>
                                    </td>
                                    <td>
                                        <%= event.location %>
                                    </td>
                                    <td>
                                        <%= event.description %>
                                    </td>
                                    <td>
                                        <%= event.eventCategory %>
                                    </td>
                                    <td>
                                        <%= event.organizer.firstName %>
                                            <%= event.organizer.lastName %> - <%= event.organizer.emailAddress %>
                                    </td>
                                    <td>
                                        <% event.alumniStudentGuests.forEach(guest=> { %>
                                            <%= guest.emailAddress %><br>
                                                <% }); %>
                                                    <% event.alumniManagerGuests.forEach(guest=> { %>
                                                        <%= guest.emailAddress %><br>
                                                            <% }); %>
                                    </td>
                                    <td class="action-buttons">
                                        <a id="editButton" href="#" class="button-style">Edit</a>
                                        <button id="participateButton" class="button-style"
                                            onclick="location.href='#'">Participate</button>
                                        <button id="deleteButton" class="button-style"
                                            onclick="location.href='#'">Delete</button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </section>
        </main>
    </div>
</body>

</html>